.remoteVideoDiv {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: #323232;
    z-index: 0;
}
.remoteVideo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}